<h1>Painel Administrativo</h1>
<p>Bem-vindo <%= user.nome %></p>

<h3>Área de Cadastro</h3>
<a href="/admin/cadastro">Cadastrar Novo Usuário</a>

<h3>Área de Gestão de Usuários</h3>
<a href="/admin/usuarios">Gerenciar Usuários</a>

<br><br>
<a href="/logout">Sair</a>