<h1>Cadastrar Curso</h1>

<form method="POST" action="/academico/cadastrar/curso">
    <input type="text" name="nome" placeholder="Nome do Curso" required><br><br>
    <textarea name="descricao" placeholder="Descrição"></textarea><br><br>
    <button type="submit">Salvar</button>
</form>

<br>
<a href="/admin">Voltar</a>