<h1>Editar Curso</h1>

<form method="POST" action="/academico/gerenciar/cursos/editar/<%= curso.id %>">

    <label>Nome:</label><br>
    <input type="text" name="nome" value="<%= curso.nome %>" required>
    <br><br>

    <label>Descrição:</label><br>
    <textarea name="descricao"><%= curso.descricao || '' %></textarea>
    <br><br>

    <button type="submit">Salvar</button>
</form>

<br>
<a href="/academico/gerenciar/cursos">Voltar</a>