<h1>Operação realizada com sucesso</h1>

<p><%= message %></p>

<br>
<a href="/academico/gerenciar/matriculas">
    <button>Ver Matrículas</button>
</a>

<br><br>
<a href="/admin">
    <button>Voltar ao Painel</button>
</a>